@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {  
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #6b4e2b96;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgb(242, 178, 99);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(112, 82, 45, 0.719);
}

h2 {
    color: #86A69D;
}

p {
    text-align: justify;
}
